body{
font-family: Arial;
margin:0;
background:#f4f6f7;
}

header{
background:#2e7d32;
color:white;
text-align:center;
padding:20px;
}

.container{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:30px;
}

.card{
background:white;
width:300px;
padding:20px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.job{
border:1px solid #ddd;
padding:10px;
margin-top:10px;
border-radius:5px;
}

button{
background:#2e7d32;
color:white;
border:none;
padding:10px;
margin-top:10px;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#1b5e20;
}
